<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Cursos</title>
</head>
<body>
	<table>
      <thead>
         <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Horas</th>
        </tr>
       <tbody>
          <tr th:each="curso : ${cursos}">
            <th><span th:text="${curso.nombre}"></span></th>
            <th><span th:text="${curso.descripcion}"></span></th>
            <th><span th:text="${curso.precio}"></span></th>
            <th><span th:text="${curso.horas}"></span></th>
          </tr>
       </tbody>
    </table>
</body>
</html>